* {
  margin: 0;
  padding: 0;
}

.fundo {
  background-image: linear-gradient(45deg, black, orange);
  color: #fdfdfd;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  text-align: center;
}

.calculadora {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  left: 50%;
  padding: 15px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
}

.botao {
  background-color: rgb(31, 31, 31);
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 25px;
  height: 50px;
  margin: 2px;
  width: 50px;
}

.botao:hover {
  background-color: rgb(0, 0, 0);
}

.botao.equal {
  height: 106px;
}

.botao.zero {
  width: 106px;
}

#resultado {
  background-color: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  height: 30px;
  margin: 5px;
  padding: 5px;
  text-align: right;
  width: 207px;
}
